*$py.class
*.cover
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*~
.cache
.coverage
.coverage.*
.directory
.DS_Store
.eggs/
.env
.fuse_hidden*
.hypothesis/
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nfs*
.pytest_cache
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.Trash-*
.venv
.webassets-cache
/site
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
__pycache__/
atlassian-ide-plugin.xml
build/
celerybeat-schedule
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/dist/
frontend/dist-server
frontend/e2e/*.js
frontend/e2e/*.map
frontend/libpeerconnection.log
frontend/node_modules/
frontend/npm-debug.log
frontend/out-tsc
frontend/testem.log
frontend/tmp
frontend/typings
frontend/yarn-error.log
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
Session.vim
target/
Thumbs.db
var/
venv.bak/
venv/
wheels/