<div *ngIf='partArrs'>
  <div
    class="position-row"
    fxLayout='row' 
    fxLayoutAlign="start"
    fxLayoutGap="10px"
    fxLayoutWrap>
    <!-- TODO: Add drag and drop to the positions -->
    <div class="expContainer">
      <td-expansion-panel *ngFor="let partArr of partArrs.controls; let i = index">
        <ng-template td-expansion-panel-header color="accent">
          <h4 matSubheader>Position {{i}}</h4>
        </ng-template>
        <app-part-selector
          #selector
          [PartForm]="partArr.controls.parts">
        </app-part-selector>
        <button mat-button
          (click)="selector.addPart()">
          Add part
        </button>
        <button mat-button
          (click)="removeColumn(i)">
          Remove Column
        </button>
      </td-expansion-panel>
    </div>
  </div>
  <small 
    *ngIf="!partArrs.valid"
    class="text-danger">
    There needs to be at least two positions.
  </small>
</div>