<p>This is the User Cloning Primer Suggestion tool developed for researchers at Novo Nordisk Foundation Center For Biosustainability.</p>
<br>
<p>The tool is based on the AMUSER tool developen by Hans Jasper Genee, Mads Tvillinggaard Bonde, Frederik Otzen Bagger, Jakob Berg Jespersen, Morten O. A. Sommer, Rasmus Wernersson, and Lars Rønn Olsen. AMUSER and citation information is available <a href="http://www.cbs.dtu.dk/services/AMUSER/">here</a></p>
<br>
<p>To start using the tool, pick one of the three options below and follow the onscreen instructions.</p>
<br>
<p>For bug reports or suggestions for improvement please contact <a href="mailto:chravn@biosustain.dtu.dk" target="_top">Christian Ravn</a></p>