<mat-card class="multiple-new">
  <mat-toolbar color="primary">
    <span>Create several new projects</span>
  </mat-toolbar>
  <mat-card-content>
    <p>
      When you need to create a lot of projects quickly, this is the way to go. It lets you choose what combination of parts you would like in each position and then makes all possible combination. It makes it possible to create a huge number of projects at once, but comes at a cost of the detail you can add to each project.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openCreateMultipleProjects()">Select</button>
  </mat-card-actions>
</mat-card>