<div fxLayout='row' fxLayoutAlign='center'>
  <div fxFlex='75'>
    <div fxLayout="row" fxLayoutAlign="space-around stretch" *ngIf="combinatorial">
      <mat-card fxFlex="50">
        <mat-toolbar color="primary">
          <span>Settings</span>
        </mat-toolbar>
        <mat-card-content>
          <app-amuser-settings
            [(settings)]="newCombinatorialForm.controls.amusercloning">
          </app-amuser-settings>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50">
        <mat-toolbar color="primary">
          <span>Parts</span>
        </mat-toolbar>
        <mat-card-content>
          <app-part-multi-selector
            [(partArrs)]='newCombinatorialForm.controls.parts'>
          </app-part-multi-selector>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button
            color="primary"
            (click)="partSelector.addPart()">
            Add part
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <br>
    <!-- TODO: Add loader when changing project -->
    <div fxLayout="row" fxLayoutAlign="space-around stretch" *ngIf="combinatorial">
      <mat-card fxFlex="100">
        <mat-toolbar color="primary">
          <span>Results</span>
        </mat-toolbar>
        <mat-card-content>
          <mat-tab-group [selectedIndex]="activeTab">            
            <mat-tab label="Projects">
              <app-project-table
                [(projectObservable)]="projectObservable">
              </app-project-table>
            </mat-tab>

            <mat-tab 
              label="Files">
              <button mat-button
                (click)='downloadCsv()'>
                Download Csv
              </button>
              <button mat-button
                (click)='downloadGenbank()'>
                Download Genbank
              </button>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
